*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(background.jpg);
}
a{
	color: black;
	text-decoration: none;
}
li{
	list-style: none;
}

header{
	max-width: 1350px;
	min-height: 150px;
	margin: 0 auto;
	background-image: url(banner.jpg);
	text-align: center;
}
header h1{
	position: relative;
	top: 15px;
	font-family: 'Lobster', serif;
	font-size: 40pt;
}
header p{
	position: relative;
	top: 40px;
}

nav{
	max-width: 1350px;
	margin: 0 auto;
	background-color: #444;
	text-align: center;
	position: relative;
	z-index: 999;
}
nav ul{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
nav ul li{
	display: inline-block;
	margin: 0 20px;
	padding: 7px;
	position: relative;
}
nav ul li:hover{
	background: #555;
	color: black;
}
nav ul li ul{
	display: none;
	position: absolute;
	background: #444;
	width: 160px;
	float: left;
	margin-left: -28px;
	margin-top: 7px;
	padding-top: 5px;
	text-align: left;
}
ul a{
	color: #fff;
}

.profile{
	width: 600px;
	float: left;
	margin: 50px 50px;
}
.profile img{
	float: left;
	margin-right: 30px;
	border-radius: 5px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  float: right;
  margin: 20px 120px 50px;

}

/* Caption text */
.text {
  color: #000;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 47%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

footer{
	clear: both;
	width: 100%;
	text-align: center;
	margin: 650px auto 150px;
	font-size: 0.75em;
}


      
	  
	  








